name: Go CI Pipeline

on:
    push:
        branches: [ "main", "dev" ] 
    pull_request:
        branches: [ "main", "dev" ]

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4 
          
            - name: Set up Go 
              uses: actions/setup-go@v5 
              with:
                go-version: '1.22'

            - name: Run Unit and E2E Tests (Skipping DB)
              run: go test -v ./cmd ./internal/encoding 
        
            - name: Build Application
              run: go build -v -o app ./cmd